.practiceWrapper {
    width: 60rem;
    height: 70rem;
    background-color: var(--color-lightBlack);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.5rem;
  }
  
  .practiceHeading {
    width: 28rem;
    height: 4.5rem;
    font-weight: 600;
    font-size: 54px;
    line-height: 77.23px;
    margin-bottom: 1rem;
    margin-left: 18rem;
    margin-top: 1rem;
  }
  .imageWrapper {
    width: 70rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

  }
  .image1 {
  width: 50%;
  height: auto;
  } 
  .image2 {
    width: 30%;
  } 
  .image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
    
  }
  .imageText {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-white);
    z-index: 10;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }