.wrapper {
    width: 65rem;
    height: 50rem;
    display: flex;
    justify-content: space-around;
    justify-content: center;
  }
  
  .leftHero {
    width: 32rem;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    gap: 36px;
    margin-bottom: 145px;
  }
  .herosubHeading {
    font-size: 66px;
    font-weight: 600;
    width: 35rem;
    height: 12rem;
  }
  .leftHero p {
    width: 560px;
    height: 99px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.3;
    color: var(--color-white);
  }
  .btn {
    width: 438px;
    height: 74px;
    border-radius: 43px;
    background-color: #201f1f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 28px;
    /* cursor: pointer; */
  }
  .btnLeft {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
  }
  .btnText {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26.004px;
    color: var(--color-white);
  }
  .icon {
    width: 22px;
    height: 22px;
    padding: 2.75px 1.833px;
  }
  
  .heroBtn {
    width: 137px;
    height: 62px;
    border-radius: 43px;
    background: #e3b748;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-black);
    cursor: pointer;
  }
  
  .heroImage {
    width: 24rem;
    height: 27rem;
  }